@import "../../styles/index";

.chat-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: stretch;
  height: 100vh;
  width: calc(100% - #{2 * $size-wrapper-margin});
  margin: 0 auto;
  color: red;
  font-weight: 600;
  

  &__title {
    @include type($font-size: 2.9rem, $font-weight: 700);
    flex: 0 0 auto;
    margin: 24px 0;
    text-align: center;
    color: rgb(128, 31, 68);
    text-shadow: #3ace0d 2px -2px 2px, #23bd2b 4px 4px 0px;
    animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  &__message-list {
    flex: 1 1 auto;
    overflow-y: auto;
  }

  &__message-list-item {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__form {
    flex: 0 0 auto;
    margin: 16px 0;
    animation: scale-in-center 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
}

@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}