@import "../../styles/index";

.join-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 240px;
  width: 100%;
  margin: 0 auto;
  animation: fade-in 4s ease;

  &__title {
    @include type($font-size: 2.4rem, $font-weight: 700);
    text-align: center;
    margin-bottom: 32px;
    display: block;
    width: 100%;
    animation: cssAnimation_0 3s 1 ease-in-out 1s;
    text-shadow: #3ace0d 2px -2px 2px, #23bd2b 4px 4px 0px;

  }

  &__form {
    display: block;
    width: 100%;
  }
}

@keyframes cssAnimation_0 {
  to {
    transform: rotate(360deg) translate(0px, 0px) scale(1.3, 1.3);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}